<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Chart Widget'" [items]="['Widget']" [active_item]="'Chart Widget'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>Chart Sample</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="circleChartOptions.series!" [chart]="circleChartOptions.chart!"
                [plotOptions]="circleChartOptions.plotOptions!" [labels]="circleChartOptions.labels!"
                [legend]="circleChartOptions.legend!" [colors]="circleChartOptions.colors!"
                [responsive]="circleChartOptions.responsive!"></apx-chart>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Target</p>
                <p class="font-b-600">
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$15.3k
                </p>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Last
                  week</p>
                <p class="font-b-600">
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$2.8k
                </p>
              </div>
              <div class="col-4">
                <p class="text-muted text-truncate">Last
                  Month</p>
                <p class="font-b-600">
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$12.5k
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>Chart Sample</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="radarChartOptions.series!" [chart]="radarChartOptions.chart!"
                [xaxis]="radarChartOptions.xaxis!" [stroke]="radarChartOptions.stroke!"
                [markers]="radarChartOptions.markers!" [fill]="radarChartOptions.fill!"></apx-chart>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Target</p>
                <p class="font-b-600">
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$15.3k
                </p>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Last
                  week</p>
                <p class="font-b-600">
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$2.8k
                </p>
              </div>
              <div class="col-4">
                <p class="text-muted text-truncate">Last
                  Month</p>
                <p class="font-b-600">
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$12.5k
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>Chart Sample</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="areaChartOptions.series!" [chart]="areaChartOptions.chart!"
                [xaxis]="areaChartOptions.xaxis!" [stroke]="areaChartOptions.stroke!" [grid]="areaChartOptions.grid!"
                [tooltip]="areaChartOptions.tooltip!" [dataLabels]="areaChartOptions.dataLabels!">
              </apx-chart>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Target</p>
                <p class="font-b-600">
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$15.3k
                </p>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Last
                  week</p>
                <p class="font-b-600">
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$2.8k
                </p>
              </div>
              <div class="col-4">
                <p class="text-muted text-truncate">Last
                  Month</p>
                <p class="font-b-600">
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$12.5k
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <p class="font-15 font-b-500">New Students</p>
                    <p class="mb-3 font-18 font-b-500">1,025</p>
                    <p class="mb-0 font-14"><span class="col-green">10%</span> Increase</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="banner-img">
                    <img src="assets/images/banner/1.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <p class="font-15 font-b-500"> Total Courses</p>
                    <p class="mb-3 font-18 font-b-500">47</p>
                    <p class="mb-0 font-14"><span class="col-orange">09%</span> Decrease</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="banner-img">
                    <img src="assets/images/banner/2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <p class="font-15 font-b-500">Awards</p>
                    <p class="mb-3 font-18 font-b-500">128</p>
                    <p class="mb-0 font-14"><span class="col-green">18%</span>
                      Increase</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="banner-img">
                    <img src="assets/images/banner/3.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <p class="font-15 font-b-500">Revenue</p>
                    <p class="mb-3 font-18 font-b-500">$48,697</p>
                    <p class="mb-0 font-14"><span class="col-green">42%</span> Increase</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="banner-img">
                    <img src="assets/images/banner/4.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="float-start">
              <p class="text-muted font-16">Average Lecture Per Month</p>
              <h6>65 <span class="text-muted font-12">(Average)</span></h6>
            </div>
            <div class="mb-5">
              <apx-chart [series]="avgLecChartOptions.series!" [chart]="avgLecChartOptions.chart!"
                [xaxis]="avgLecChartOptions.xaxis!" [stroke]="avgLecChartOptions.stroke!"
                [colors]="avgLecChartOptions.colors!" [dataLabels]="avgLecChartOptions.dataLabels!"
                [legend]="avgLecChartOptions.legend!" [markers]="avgLecChartOptions.markers!"
                [grid]="avgLecChartOptions.grid!" [yaxis]="avgLecChartOptions.yaxis!"
                [tooltip]="avgLecChartOptions.tooltip!" [title]="avgLecChartOptions.title!"
                [fill]="avgLecChartOptions.fill!">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Subject Chart</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="pieChartOptions.series!" [chart]="pieChartOptions.chart!"
                [labels]="pieChartOptions.labels!" [responsive]="pieChartOptions.responsive!"
                [dataLabels]="pieChartOptions.dataLabels!" [legend]="pieChartOptions.legend!" class="apex-pie-center">
              </apx-chart>
            </div>
            <div class="table-responsive m-t-15">
              <table class="table align-items-center">
                <tbody>
                  <tr>
                    <td><i class="fa fa-circle col-cyan msr-2"></i> Music</td>
                    <td>23</td>
                    <td class="col-green">+32%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-blue msr-2"></i>Science</td>
                    <td>32</td>
                    <td class="col-green">+12%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-orange msr-2"></i>Economics</td>
                    <td>12</td>
                    <td class="col-orange">-12%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-green msr-2"></i>Mathes</td>
                    <td>32</td>
                    <td class="col-green">+3%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-blue order-info-box7">
          <div class="info-box7-block">
            <p class="m-b-15 font-b-500 font-18">Orders Received</p>
            <p class="text-end font-b-500"><i class="fas fa-cart-plus float-start"></i><span class="font-25">358</span>
            </p>
            <p class="font-12 m-b-0">18% Higher Then Last Month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-green order-info-box7">
          <div class="info-box7-block">
            <p class="m-b-15 font-b-500 font-18">Completed Orders</p>
            <p class="text-end font-b-500"><i class="fas fa-business-time float-start"></i><span
                class="font-25">865</span></p>
            <p class="font-12 m-b-0">21% Higher Then Last Month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-yellow order-info-box7">
          <div class="info-box7-block">
            <p class="m-b-15 font-b-500 font-18">New Orders</p>
            <p class="text-end font-b-500"><i class="fas fa-chart-line float-start"></i><span class="font-25">128</span>
            </p>
            <p class="font-12 m-b-0">37% Higher Then Last Month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-pink order-info-box7">
          <div class="info-box7-block">
            <p class="m-b-15 font-b-500 font-18">Total Earning</p>
            <p class="text-end font-b-500"><i class="fas fa-dollar-sign float-start"></i><span
                class="font-25">$25698</span></p>
            <p class="font-12 m-b-0">10% Higher Then Last Month</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <p class="m-b-15 font-b-500 font-18">Todays Income</p>
                <p class="text-muted font-12">Income For Today</p>
              </div>
              <p class="text-info font-18 font-b-600">$170</p>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-purple width-per-45" role="progressbar" aria-valuenow="45"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="text-muted mb-0">Change</p>
              <p class="text-muted mb-0">75%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <p class="m-b-15 font-b-500 font-18">Total Revenue</p>
                <p class="text-muted font-12">Total Income</p>
              </div>
              <p class="text-success font-18 font-b-600">$120</p>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-orange width-per-45" role="progressbar" aria-valuenow="45"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="text-muted mb-0">Change</p>
              <p class="text-muted mb-0">25%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <p class="m-b-15 font-b-500 font-18">New Orders</p>
                <p class="text-muted font-12">Fresh New Order</p>
              </div>
              <p class="text-danger font-18 font-b-600">15</p>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-cyan width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Change</p>
              <p class="text-muted mb-0">50%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <p class="m-b-15 font-b-500 font-18">New Users</p>
                <p class="text-muted font-12">Joined New User</p>
              </div>
              <p class="text-secondary font-18 font-b-600">12</p>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-red width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="text-muted mb-0">Change</p>
              <p class="text-muted mb-0">25%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>